In [2]:
# import dependencies
import pandas as pd
from apiKey import api_key
import requests
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress

In [11]:
# pull data from csv
file_one = "Resources/highest_grossing_movies.csv"
df = pd.read_csv(file_one)
df.head()

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN

In [13]:
# create a list to loop through the top1000
titles = df.Title.values.tolist()

In [5]:
df.columns

Index(['Unnamed: 0', 'Title', 'Movie Info', 'Distributor', 'Release Date',
       'Domestic Sales (in $)', 'International Sales (in $)',
       'World Sales (in $)', 'Genre', 'Movie Runtime', 'License'],
      dtype='object')

In [17]:
# Interacting with the API
url = f'http://www.omdbapi.com/?apikey={api_key}&t='
# make a list to append json data
title = 'Star Wars: Episode VII - The Force Awakens'
movies_ls = [] # we'll turn this into a data frame? 
movie_json = requests.get(url + title).json()
movie_json

# request limit is 1000 daily
# we need to cut list down to 100

{'Response': 'False', 'Error': 'Request limit reached!'}

In [16]:
#
for title in titles:
    try:
        # access json data
        movie_json = requests.get(url + title).json()
        movie_ratings = movie_json['Ratings']
        #append json to movie_ls list
        movie_ls.append(movie_ratings)
    except:
        pass
# convert movie list into data frame

<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
/var/folders/_8/5xdclpj14fv_9w2kkv8965zc0000gn/T/ipykernel_17833/2973123334.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  for title in range(5(titles)):

TypeError: 'int' object is not callable

In [18]:
# merge dataframes

In [ ]:
# Bar Graphs on directors  sales, actors  sales,  studio sales,

In [ ]:
# Line plot for movie genre performance over time

In [ ]:
# Bar chart for sequel/reboot box office vs. original

In [ ]:
# Pie chart of Genre Percentage in top grossing

In [ ]:
# Scatter plot for audience reception vs. sales

In [ ]:
# Scatter plot for critic reception vs. sales